.butt{
    text-align: center;
}
.mwisho{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.news{
    text-align: center;
    font-variant: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}